:host {
  display: flex;
  position: absolute;

  justify-content: center;
  align-items: center;

  &.background {
    background-image: url('../../assets/tiledbackground.png');
  }

  &.wall {
    background-image: url('../../assets/wall.png');
  }
}
